<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quacksapp"
        tools:targetApi="31">
        <activity
            android:name=".ChosenApplicantActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminListView"
            android:exported="true" />
        <activity
            android:name=".AdminViewOrganizer"
            android:exported="true" />
        <activity
            android:name=".WelcomeEntrant"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrganizerHomepage"
            android:exported="true" />
        <activity
            android:name=".EventDescription"
            android:exported="true" />
        <activity
            android:name=".CreateEntrantProfile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AdminImageListView"
            android:exported="true" />
        <activity
            android:name=".EntrantHome"
            android:exported="true" />
        <activity
            android:name=".AdminHome"
            android:exported="true"></activity>
        <activity
            android:name=".CreateFacility"
            android:exported="true" />
        <activity
            android:name=".CreateEvent"
            android:exported="true" />
        <activity
            android:name=".ViewEvents"
            android:exported="true" />
        <activity
            android:name=".ViewOrganizer"
            android:exported="true" />
        <activity
            android:name=".MakeOrganizerProfile"
            android:exported="true" />
        <activity
            android:name=".QRCodeGeneratorActivity"
            android:exported="true" />
        <activity
            android:name=".UploadPosterActivity"
            android:exported="true" />
        <activity
            android:name=".EventInfo"
            android:exported="true" />
        <activity
            android:name=".EditEvent"
            android:exported="true" />
        <activity
            android:name=".OpenRegistration"
            android:exported="true" />
        <activity
            android:name=".ConfirmAndNotify"
            android:exported="true" />
        <activity
            android:name=".NotifyOptions"
            android:exported="true" />
        <activity
            android:name=".PickApplicant"
            android:exported="true" />
        <activity
            android:name=".ApplicantOptions"
            android:exported="true" />
        <activity
            android:name=".ViewEventsEntrant"
            android:exported="true" />
        <activity
            android:name=".AllApplicants"
            android:exported="true" />
        <activity
            android:name=".DeclinedApplicants"
            android:exported="true" />
        <activity
            android:name=".AcceptedApplicants"
            android:exported="true" />
        <activity
            android:name=".SelectAtRandom"
            android:exported="true" />
        <activity android:name=".Choices"
            android:exported="true" />
        <activity android:name=".FinalizedApplicants"
            android:exported="true" />
        <activity android:name=".CancelledApplicants"
            android:exported="true" />
        <activity android:name=".LastChoice"
            android:exported="true" />
        <activity android:name=".DummyLocationTest"
            android:exported="true" />
        <activity
            android:name=".EntrantsMapActivity"
            android:exported="true" />
        <activity
            android:name=".SelectMapEvent"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>